@model SweetRole.ViewModels.AddStoryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h4>Create New Story</h4>

        <hr />
        <div class="row">
            <div class="col 12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="input-field col 12">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col 12">
                            <label asp-for="Genre" class="control-label"></label>
                            <input asp-for="Genre" class="form-control" />
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col 12">
                            <button class="btn waves-effect waves-light blue darken-1">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="teal-text" asp-action="Index">Back to List</a>
        </div>
    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
