@model SweetRole.Models.Story

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <h3>Are you sure you want to delete @Html.DisplayFor(model => model.Title) ?</h3>
    <div>

        <form asp-action="Delete">
            <button type="submit" value="Create" class="btn waves-effect waves-light red darken-1">Delete</button> |
            <a class="btn waves-effect waves-light blue darken-1" asp-action="Index">Back to List</a>
        </form>
    </div>
    <br />
</div>