@model SweetRole.Models.Story

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Edit Story</h4>
        <hr />
    </div>

<div class="container">
        <div class="row">
            <div class="col s12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="StoryID" />
                    <input type="hidden" asp-for="DateCreated" />
                    <input type="hidden" asp-for="SweetRoleUserId" />

                    <div class="row">
                        <div class="input-field col 12">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col 12">
                            <label asp-for="Genre" class="control-label"></label>
                            <input asp-for="Genre" class="form-control" />
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col 12">
                            <button class="btn waves-effect waves-light blue darken-1">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="teal-text" asp-action="Index">Back to List</a>
        </div>
    <br />
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>