@model IEnumerable<SweetRole.Models.Story>

@{
    ViewData["Title"] = "Stories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stories</h1>

<div class="container">
    <p>
        <a class="btn btn-primary" asp-action="Create">Create Story</a>
    </p>
</div>
<div class="container-fluid">
    <h3>My Stories</h3>
    <hr />
    <div id="myWorkContent" class="container">

        @foreach (var item in Model)

        {

            <div class="card" style="width: 18rem;">

                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150.png?text=Place+holder+photo" class="card-img-top" alt="..."></a>

                <div class="card-body">

                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>

                    <a class="btn btn-primary" href="/story/details/@item.StoryId" role="button">Details</a>

                    <a class="btn btn-info" href="/story/edit/@item.StoryId" role="button">Edit</a>

                    <a class="btn btn-danger" href="/story/delete/@item.StoryId" role="button">Delete</a>

                </div>

            </div>

        }
    </div>
</div>
<br />

<div class="container-fluid">
<h3>Shared Stories</h3>
<hr />
<div id="myWorkContent" class="container">


    @foreach (var item in Model)

    {

        <div class="card" style="width: 18rem;">

            <a href="https://placeholder.com"><img src="https://via.placeholder.com/150.png?text=Place+holder+photo" class="card-img-top" alt="..."></a>

            <div class="card-body">

                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>

                <a class="btn btn-primary" href="/story/details/@item.StoryId" role="button">Details</a>

                <a class="btn btn-info" href="/story/edit/@item.StoryId" role="button">Edit</a>

                <a class="btn btn-danger" href="/story/delete/@item.StoryId" role="button">Delete</a>

            </div>
        </div>
    }

</div>
</div>
<br />