@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron" style="color:white; background-size:1200px; background-image: url(/images/chris-lawton-236416-unsplash.jpg)">
            <h1 class="display-4">Welcome to SweetRole</h1>
            <p class="lead" style="font-weight:bold">Roleplay your way</p>
            <hr class="my-4">
            <p>Write your stroy</p>
            <a class="btn btn-primary btn-lg" href="/Identity/Account/Register" role="button">Join our Community</a>
    </div>
