@model SweetRole.ViewModels.AddCharacterSceneViewModel

@{
    ViewData["Title"] = "Add Character to Scene " + Model.Scene.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

    <div class="container">
        <h4>Add Character to Scene</h4>

        <hr />
    </div>
        <div class="container">
        <div class="row">
                <form class="col s12" asp-action="AddCharacter">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="input-field col 6">
                            <select class="browser-default" asp-for="CharacterID" asp-items="@Model.Characters"> </select>
                            <span asp-validation-for="CharacterID" class="text-danger"></span>
                            <label asp-for="CharacterID"></label>
                        </div>
                    </div>  
                    <div class="input-field">
                        <input type="hidden" asp-for="SceneID" value="@Model.Scene.SceneID" />
                    </div>
                    <div class="row">
                        <div class="input-field col 6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>