@model SweetRole.Models.Character

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>@Html.DisplayFor(model => model.Name) Details</h4>
    <hr />
    
</div>


<div class="container">
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterID }) |
    <a asp-action="Index">Back to List</a>
</div>
