@model IEnumerable<SweetRole.Models.Character>

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h4>Characters <a class="btn-floating btn-small waves-effect waves-light orange" asp-action="Create"><i class="material-icons">add</i></a></h4>
    <hr />
</div>


<div class="container">

    <div class="row justify-content-start">

        @foreach (var item in Model)

        {
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/character.jpg">
                        <span class="card-title">@Html.DisplayFor(modelItem => item.Name)</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light orange" asp-area="" asp-controller="character" asp-action="edit" asp-route-id="@item.CharacterID"><i class="material-icons">create</i></a>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="button teal-text" asp-area="" asp-controller="character" asp-action="details" asp-route-id="@item.CharacterID" role="button">Details</a> | 
                        <a class="button red-text" asp-area="" asp-controller="character" asp-action="delete" asp-route-id="@item.CharacterID" role="button">Delete</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<br />

