@model IEnumerable<SweetRole.Models.Character>

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Characters</h1>

<div class="container">
    <p>
        <a class="btn btn-primary" asp-action="Create">Create character</a>
    </p>
</div>

<div class="container">

    <div class="row justify-content-start">

        @foreach (var item in Model)

        {

            <div class="col-sm" style="padding: 4px">

                <div class="card" style="width: 18rem;">

                    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150.png?text=Place+holder+photo" class="card-img-top" alt="..."></a>

                    <div class="card-body">

                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>

                        @*<p class="card-text">@Html.DisplayFor(modelItem => item.DateOfBirth)</p>*@

                        <a class="btn btn-primary" href="/character/details/@item.CharacterId" role="button">Details</a>

                        <a class="btn btn-info" href="/character/edit/@item.CharacterId" role="button">Edit</a>

                        <a class="btn btn-danger" href="/character/delete/@item.CharacterId" role="button">Delete</a>

                    </div>

                </div>
            </div>

        }

    </div>
</div>
<br />

